# --------- pytorch --------- #
torch>=1.10.0
torchvision>=0.11.0
#lightning-bolts==0.6.0.post1
#lightning-lite==1.8.0
lightning-utilities==0.3.0
pytorch-lightning==1.6.5
lightning-transformers==0.2.1
torchmetrics==0.7.3

# --------- hydra --------- #
hydra-core>=1.1.0
hydra-colorlog>=1.1.0
hydra-optuna-sweeper>=1.1.0

# --------- loggers --------- #
wandb~=0.12.16
# neptune-client
# mlflow
# comet-ml
# tensorboard

# --------- linters --------- #
pre-commit      # hooks for applying linters on commit
black           # code formatting
isort           # import sorting
flake8          # code analysis
nbstripout      # remove output from jupyter notebooks

# --------- others --------- #
python-dotenv~=0.19.2
rich~=12.0.1
pytest~=7.1.1
sh~=1.14.2
pudb            # debugger
mosaicml
omegaconf~=2.1.1
packaging~=21.3

transformers~=4.21.0
numpy~=1.21.5
Pillow~=9.0.1
matplotlib~=3.5.2
seaborn~=0.11.2
scikit-learn~=1.0.2